@{
    Layout = "_LayoutBlank";
}
<div class="row no-margin h-fullscreen" style="padding-top: 10%">
    <div class="col-12">
        <div class="card card-transparent mx-auto text-center">
            <h1 class="text-secondary lh-1" style="font-size: 200px"><i class="fa fa-exclamation-circle"></i></h1>
            <hr class="w-30px">
            <h3 class="text-uppercase">Sem Autorização!</h3>

            <p class="lead">Você não possui autorização para acessar essa página.</p>
            <br>
            <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center fs-14">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:window.history.back();">Voltar</a>
                </li>
            </ul>
        </div>
    </div>
</div>