/* gudea-regular - latin */
@font-face {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gudea-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Gudea'), url('../fonts/gudea-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/gudea-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gudea-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/gudea-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gudea-v5-latin-regular.svg#Gudea') format('svg'); /* Legacy iOS */
}
/* gudea-italic - latin */
@font-face {
    font-family: 'Gudea';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/gudea-v5-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Gudea Italic'), local('Gudea-Italic'), url('../fonts/gudea-v5-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/gudea-v5-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gudea-v5-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/gudea-v5-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gudea-v5-latin-italic.svg#Gudea') format('svg'); /* Legacy iOS */
}
/* gudea-700 - latin */
@font-face {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/gudea-v5-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Gudea Bold'), local('Gudea-Bold'), url('../fonts/gudea-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/gudea-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gudea-v5-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/gudea-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gudea-v5-latin-700.svg#Gudea') format('svg'); /* Legacy iOS */
}

body, table, td, .code-card .code-title, .font-alt, .h1, .h2, .h3, .h4, .h5, .h6, .small, body, button, h1, h2, h3, h4, h5, h6, input, optgroup, select, small, textarea, time {
    font-family: 'Gudea';
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: 700;
}