@model DrAgenda.Web.Models.Paciente.PacienteViewModel

<div class="form-text">
    <h5 class="modal-title mb-0">Endereço</h5>
    <hr class="mt-0" />
    <div class="form-group row">
        <div class="col-md-4">
            <label asp-for="Endereco.Logradouro" class="form-control-label"></label>
            <input asp-for="Endereco.Logradouro" class="form-control" />
            <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Endereco.Numero" class="form-control-label"></label>
            <input asp-for="Endereco.Numero" class="form-control" />
            <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Endereco.Complemento" class="form-control-label"></label>
            <input asp-for="Endereco.Complemento" class="form-control" />
            <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label asp-for="Endereco.Bairro" class="form-control-label"></label>
            <input asp-for="Endereco.Bairro" class="form-control" />
            <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
        </div>
        <div class="col-md-4 pt-3 pt-md-0">
            <label asp-for="Endereco.Municipio" class="form-control-label"></label>
            <input asp-for="Endereco.Municipio" class="form-control" />
            <span asp-validation-for="Endereco.Municipio" class="text-danger"></span>
        </div>
        <div class="col-md-1 pt-3 pt-md-0">
            <label asp-for="Endereco.Uf" class="form-control-label"></label>
            <input asp-for="Endereco.Uf" class="form-control limit-2 stringsOnly" />
            <span asp-validation-for="Endereco.Uf" class="text-danger"></span>
        </div>
    </div>
</div>